!.gitignore

.DS_Store

.tern-port

# etags
TAGS

# backup files
*.el~
*#

# Cask
.cask/*

# Emacs Shell
eshel/*

# Saving session information in Emacs
*.desktop
*.desktop.lock

# auto-complete
ac-comphist.dat

# yasnippet
snippets/*
!install-snippets.sh

# recentf
/recentf
recentf
.recentf

# multiple-cursors
.mc-lists.el

# python
.python-environments/*

# Semantic
semanticdb
srecode-map.el

# Transparent Remote Access
tramp

/bookmarks
elisp/custom-file.el

company-statistics-cache.el
