*.el~
*#
.cask/*
eshell/*
ac-comphist.dat

snippets/*
!install-snippets.sh
/recentf
.recentf

!.gitignore

.mc-lists.el

.python-environments/*
*.desktop
*.desktop.lock

/bookmarks
elisp/custom-file.el
srecode-map.el